@model IEnumerable<reviewsite.Model.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>testing</p>
    @foreach (var product in Model)
    {
        <a href="">@product.Name</a>

        <hr />
    }
</body>
</html>
