@model IEnumerable<reviewsite.Model.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Product by Category</title>
</head>
<body>
    <h1>Category List</h1>
    @foreach (var category in Model)
    {
    <a href="~/Category/Details/@category.Id">@category.Name</a>
   
        <hr />
    }

</body>
</html>
