@model IEnumerable<reviewsite.Model.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product by Category</title>
</head>
<body>
    <h1>Category List</h1>
    @foreach (var category in Model)
    {
        <p>Name: <span>@category.Name</span></p>
        <p>Id: <span>@category.Id</span></p>
        <hr />
    }

</body>
</html>
