@model IEnumerable<reviewsite.Model.Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>AAJC Reviews</title>
</head>
<body>
    <h1>AAJC Reviews</h1>
    <h2>Categories</h2>
    <h5>
    @foreach (var category in Model)
    {
    
    <a href="~/Category/Details/@category.Id">@category.Name</a>
        @*<hr />*@
    }
   </h5>
</body>
</html>
<footer>
    &copy; AAJC REVIEWS 2019
</footer>
