@model reviewsite.Model.Review

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h1>You have Deleted the Review</h1>
    <hr />
    <div>
        <a href="~/Category/Index/">Return to Categories</a>
        <a href="~/Product/Details/@ViewBag.ProductId">Return to Products</a>
    </div>

    

</body>
</html>
