
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AirMax</title>
</head>
<body>
    <header>
        <h1>The Final OFF-WHITE X Nike "The Ten"</h1>
        <section id="offWhite">
        <span><strong>Nike Air Max 90 OFF-WHITE</strong></span>
        </section>
    </header>
    <main>
        <section id="airMax">
            <img src="#" alt="Alternate Text" />
                 <p>Based off the original Air Max 90, designer Virgil Abloh, decrostructed the design of the upper portion of the shoe. Seude & synthtic material's make the upper portion. While the OFF-WHITE branding can be seen on the medial sides of the shoe. Last but not least, is the famous tag located on the upper eyelet. This shoe is presented in the colorway of, Desert Ore/Hyper Jade/Bright Mango.</p>
                   <ul>
                       <li>Brand: OFF-WHITE</li>
                       <li>Model: Air Max 90</li>
                       <li>Designer: Virgil Abloh</li>
                       <li>Size: Men's 6-15</li>
                       <li>Price: Retail $160, Market Value $480-$1105</li>
                   </ul>
            </section>
            </main>
</body>
</html>
