
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to Team A review site!!!</h1>
    <p>enjoy your stay.</p>
</body>
</html>
